In [ ]:
import numpy as np
import pandas as pd

# Q1
Which stock do you believe provides the most attractive investment
opportunity for the Cavalier Fund? Why?

In [ ]:
# rates and standard deviations are in percentage
# calculating Sharpe Measure
risk_free_rate = 2.34
stock_data = pd.DataFrame({
    'Stock': ["Delphi", "Groupon", "Kellogg", "Kinross Gold"],
    'Annual Avg. Returns' : [24.79, -9.76, 11.39, -2.015],
    'Anticipated Returns': [9.1, 9.3, 4.6, 8.4],
    'Annualized Volatility': [24.801, 67.32, 14.6, 65.0]
})
stock_data["Sharpe Measure"] = stock_data["Annual Avg. Returns"] - risk_free_rate
stock_data["Sharpe Measure"] /= stock_data["Annualized Volatility"]
stock_data

,Stock,Annual Avg. Returns,Anticipated Returns,Annualized Volatility,Sharpe Measure
0,Delphi,24.790,9.1,24.801,0.905205
1,Groupon,-9.760,9.3,67.320,-0.179739
2,Kellogg,11.390,4.6,14.600,0.619863
3,Kinross Gold,-2.015,8.4,65.000,-0.067000

# Q2
How  would  you  characterise  the  riskiness  of  the  different  stocks  being
considered  by  the  Cavalier  Fund?  Which  stock  do  you  believe  is  the
riskiest, and which is the least risky?

In [ ]:
stock_data['Volatility Comment'] = ["Moderate Volatility",
                                    "Extremely volatile; highest risk",
                                    "Very low volatility; most stable",
                                    "Very high volatility; risky commodity play"]
stock_data[['Stock', 'Annualized Volatility', 'Volatility Comment']]

,Stock,Annualized Volatility,Volatility Comment
0,Delphi,24.801,Moderate Volatility
1,Groupon,67.320,Extremely volatile; highest risk
2,Kellogg,14.600,Very low volatility; most stable
3,Kinross Gold,65.000,Very high volatility; risky commodity play

In [ ]:
stock_data["Beta"] = [1.29, 1.44, 0.54, 0.31]
stock_data["Beta Comment"] = ["Higher than market; more volatile",
                              "Very sensitive to market; high systematic risk",
                              "Low market risk; defensive stock",
                              "Less sensitive to market"
]
stock_data[['Stock', "Beta", "Beta Comment"]]

          Stock  Beta                                    Beta Comment
0        Delphi  1.29               Higher than market; more volatile
1       Groupon  1.44  Very sensitive to market; high systematic risk
2       Kellogg  0.54                Low market risk; defensive stock
3  Kinross Gold  0.31                        Less sensitive to market

In [ ]:
stock_data['Financial Strength'] = ["Moderate (Baa2 Rating)",
                                    "No Rating",
                                    "High(Baa2 Rathing)",
                                    "Ba1 Rating"]
stock_data['Industry Risk'] = ["Moderate Risk (Automotive)",
                               "Very High Risk (Internet)",
                               "Low Risk (Food)",
                               "High Risk (Mining)"]

stock_data['Business Risk'] = ["Moderate Business Risk",
                                 "High Business Risk",
                                 "Low Business Risk",
                                 "Very High Business Risk"]
stock_data[['Beta', 'Financial Strength', 'Industry Risk', 'Business Risk']]

,Beta,Financial Strength,Industry Risk,Business Risk
0,1.29,Moderate (Baa2 Rating),Moderate Risk (Automotive),Moderate Business Risk
1,1.44,No Rating,Very High Risk (Internet),High Business Risk
2,0.54,High(Baa2 Rathing),Low Risk (Food),Low Business Risk
3,0.31,Ba1 Rating,High Risk (Mining),Very High Business Risk

# Q3
How does portfolio diversification affect your characterisation of risk for
the stocks?

# Q4
Kramer argues that the returns associated with a 50-50 weighted portfolio
of Groupon and Kinross Gold have a lower standard deviation than those
associated with either Groupon or Kinross Gold stock alone. Is that true?

In [ ]:
data = pd.read_excel('CAPM_Case_Study_Exhibits.xlsx', sheet_name='Exhibit 2')

Delphi = np.array(data['Unnamed: 2'][4:66].values.astype(float))
Kellogg = np.array(data['Exhibit 2'][4:66].values.astype(float))
Groupon = np.array(data['Unnamed: 3'][4:66].values.astype(float))
Kinross = np.array(data['Unnamed: 5'][4:66].values.astype(float))
SnP500 = np.array(data['Unnamed: 6'][4:66].values.astype(float))

combined = (Groupon + Kinross) / 2
# Calculating volatility for Groupon, Kinross and Combined
print(f"\nGroupon Volatility: {np.sqrt(12)*np.std(Groupon, ddof=1):.4f}")
print(f"Kinross Volatility: {np.sqrt(12)*np.std(Kinross, ddof=1):.4f}")
print(f"Combined Volatility: {np.sqrt(12)*np.std(combined, ddof=1):.4f}")

Groupon Volatility: 0.6788
Kinross Volatility: 0.6545
Combined Volatility: 0.5294

In [ ]:
print(f"Correlation between Groupon and Kinross : {np.corrcoef(Groupon, Kinross)[0,1]:.4f}")

Correlation between Groupon and Kinross : 0.2613

# Q5
What is the argument for Kinross Gold?

# Q6
How should investors price risk? How should they trade off the relation
between risk and return?

# Q7
What is the risk-adjusted benchmark return on the S&P 500 portfolio? On
the proposed stocks?

In [ ]:
# Finding benchmark returns for each stock using CAPM
MPR = 12 - 6
risk_free_rate = 2.34
stock_data['Benchmark Returns'] = stock_data['Beta'] * (MPR) + risk_free_rate
stock_data['alpha'] = stock_data['Anticipated Returns'] - stock_data['Benchmark Returns']
stock_data[['Stock', 'Anticipated Returns', 'Beta', 'Benchmark Returns', 'alpha']]

          Stock  Anticipated Returns  Beta  Benchmark Returns  alpha
0        Delphi                  9.1  1.29              10.08  -0.98
1       Groupon                  9.3  1.44              10.98  -1.68
2       Kellogg                  4.6  0.54               5.58  -0.98
3  Kinross Gold                  8.4  0.31               4.20   4.20

# Q8
How should Nickerson think about picking stocks for the Cavalier Fund?

In [ ]:
stock_data[['Stock', 'Beta','Annualized Volatility', 'Anticipated Returns', 'Benchmark Returns']]

,Stock,Beta,Annualized Volatility,Anticipated Returns,Benchmark Returns
0,Delphi,1.29,24.801,9.1,10.08
1,Groupon,1.44,67.320,9.3,10.98
2,Kellogg,0.54,14.600,4.6,5.58
3,Kinross Gold,0.31,65.000,8.4,4.20

In [ ]:
print(stock_data[['Stock', 'Anticipated Returns','Annualized Volatility', 'Sharpe Measure']])
np.sqrt(np.cov((Delphi, Groupon, Kinross, Kellogg)))*100*np.sqrt(12)  # Annualized covariance matrix

          Stock  Anticipated Returns  Annualized Volatility  Sharpe Measure
0        Delphi                  9.1                 24.801        0.905205
1       Groupon                  9.3                 67.320       -0.179739
2       Kellogg                  4.6                 14.600        0.619863
3  Kinross Gold                  8.4                 65.000       -0.067000

array([[24.89247445, 17.84450341, 10.66222224,  8.08158111],
       [17.84450341, 67.87876444, 34.07076846,  4.50672406],
       [10.66222224, 34.07076846, 65.44504947,  5.36669672],
       [ 8.08158111,  4.50672406,  5.36669672, 14.7246416 ]])